doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Muli:200,900&amp;subset=latin-ext')
    title= appTitle
    style
      include myPug.css
  body.profilePage
    include ./pugNavLogged.pug
    div.mainCont
      p.mainLead User Profile
